.container-about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Playfair Display", serif;
}

.typography-about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.typography-about h1{
    font-size: 8rem;
    margin-bottom: 0px;
}

.typography-about-paragraph{
    max-width: 70rem;
    
}

.typography-about-paragraph h3{
    font-weight: 10;
    color: rgba(0, 0, 0, 0.363);
}

.image-about img{
    margin-top: 1rem;
    height: 65vh;
    width: 850px;
    border-radius: 50px;
}

.our-mission{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.our-mission h1{
    font-size: 5rem;
}

.our-mission h3{
    margin: 0 10rem 10rem 10rem;
}

.our-team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.our-team h1{
    font-size: 5rem;
}

@media only screen and (max-width: 1400px){
    .image-about img{
        height: 65vh;
        width: 750px;
        /* padding: 2rem; */
        overflow: hidden;
    }
}

@media only screen and (max-width: 768px){
    .image-about img{
        height: 42vh;
        width: 100%;
        /* padding: 2rem; */
        overflow: hidden;
    }

    .typography-about h1{
        font-size: 3.5rem;
    }
    .typography-about-paragraph{
        max-width: 20rem;
    }

    .typography-about-paragraph h3{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 428px){
    .image-about img{
        height: 40vh;
        width: 380px;
        /* padding: 2rem; */
        overflow: hidden;
    }
}